@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/**** ROOT VARIABLES ****/
:root {
	--color-primary-0:#dde9d5;
	--color-primary-1:#aed697;
	--color-primary-2:#86a177;
	--color-primary-3:#1d211b;
	--color-secondary-0:#faedcd;
	--color-secondary-1:#d4a373;
	--color-accent:#f7f7f2;
	--color-shadow:#edede8;
	--color-white:#ffffff;
	--color-gray:#cccccc;
	--color-black:#000000;
}

/**** DEFAULT STYLES ****/
* { padding:0; margin:0; outline:0; border:0; box-sizing:border-box; font-family:'Roboto', sans-serif; }
html { scroll-behavior:smooth; }
body { max-width:100vw; overflow-x:hidden; font-size:16px; background:var(--color-accent); }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
:hover { transition:all 0.3s ease; }
p { line-height:1.5; }
main { padding-top:8vw; }
button { cursor:pointer; }
button:active { transform:translateY(1px); }
select, option { font-size:14px; }

/**** STANDARD STYLES ****/
.container { padding:56px 0; }
.row { margin:0 auto; width:100%; max-width:1200px; }
.col { display:flex; flex-direction:column; }
.section-title { margin-bottom:32px; font-size:2rem; text-align:center; align-items:center; }
.flex { display:flex; align-items:center; justify-content:center; }

/** buttons **/
.primary { color:var(--color-primary-2); }
.primary-btn { padding:8px 24px; background:var(--color-primary-2); color:var(--color-white); border:none; border-radius:4px; font-family:'Roboto', sans-serif; font-size:16px; opacity:1; transition:all 0.3s ease; }
.primary-btn:hover { opacity:0.75; }

/** dropdowns **/
.sort-dropdown { padding:0 16px; width:100%; max-width:200px; height:40px; background:var(--color-white); border-radius:4px; border:1px solid var(--color-gray); cursor:pointer; transition:all 0.3s ease; }
.sort-dropdown:hover { outline:none; border-color:var(--color-primary-2); transition:border 0.3s ease, outline 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease; }
.sort-dropdown:focus { border-color:var(--color-primary-2); box-shadow:0 0 0 4px var(--color-primary-0); }

/**** NAVIGATION ****/
.nav { display:flex; height:80px; background:var(--color-accent); }
.nav li { list-style-type:none; }
.nav-container { margin:0 auto; padding:0 24px; width:100%; max-width:1200px; height:100%; display:flex; justify-content:space-between; align-items:center; }
.nav-logo { width:160px; cursor:pointer; }
.nav-links { display:flex; gap:16px; }
.nav-link { padding:8px; font-size:20px; font-weight:bold; color:var(--color-primary-2); }
.nav-link.active {  }

/** menu **/
.menu-open { max-height:100vh; overflow:hidden; }
.menu-btn { background:none; border:none; display:none; color:var(--color-primary-2); font-size:32px; }
.menu-close { position:absolute; top:20px; right:20px; padding:8px; color:var(--color-white); font-size:20px; }
.menu-backdrop { visibility:hidden; opacity:0; background:var(--color-primary-3); position:fixed; top:0; left:0; bottom:0; right:0; z-index:99; transition:all 0.3s ease; }
.menu-open .menu-backdrop { visibility:visible; opacity:1; transition:all 0.3s ease; }
.menu-backdrop-wrapper { padding:24px; height:100vh; display:flex; align-items:center; justify-content:center; overflow:hidden; }
.menu-links { display:flex; flex-direction:column; align-items:center; justify-content:center; gap:32px; }
.menu-link { color:var(--color-white); font-size:40px; }

/**** HEADER ****/
.header { height:calc(100vh - 80px); }
.header h1 { margin:24px 0; font-size:56px; color:var(--color-primary-2); text-align:center; }
.header h2 { margin-bottom:32px; font-size:32px; text-align:center; }
.header-container { width:100%; max-width:720px; height:100%; margin:0 auto; display:flex; flex-direction:column; align-items:center; }
.header-description { padding:40px 0; display:flex; flex-direction:column; align-items:center; }
.header-img-wrapper { padding:0 24px; width:100%; display:flex; align-items:center; justify-content:center; }
.header-img { width:100%; max-width:80%; height:100%; max-height:50vh; z-index:9; }

/**** SECTIONS ****/

/** highlights **/
.highlights { position:relative; background:var(--color-white); }
.highlights::before, .highlights::after { position:absolute; content:''; left:0; width:101vw; height:12vw; background:url('./assets/wave.svg') no-repeat; background-size:cover; z-index:1; }
.highlights::before { top:1px; transform:translateY(-100%); }
.highlights::after { bottom:1px; transform:translateY(100%) scale(-1); }
.highlight-wrapper { display:flex; }
.highlight { padding:0 24px; width:calc(100% / 3); display:flex; flex-direction:column; align-items:center; justify-content:center; gap:16px; }
.highlight-img { display:flex; align-items:center; justify-content:center; width:80px; height:80px; border-radius:4px; border:1px solid var(--color-primary-1); font-size:24px; color:var(--color-primary-2); }
.highlight-subtitle { font-size:20px; text-align:center; }
.highlight-paragraph { max-width:240px; text-align:center; }

/** books **/
.features { padding-top:8vw; }
.latest { background:var(--color-white); }
.books-grid { display:flex; flex-wrap:wrap; padding:0px 16px; justify-content:space-evenly; }
.book { flex-grow:1; flex-basis:25%; max-width:25%; padding:8px; }
.book-wrapper { padding:16px; height:100%; display:flex; flex-direction:column; gap:8px; border-radius:8px; cursor:pointer; transition:all 0.3s ease; }
.book-wrapper:hover { background:var(--color-white); box-shadow:0 0 8px 4px var(--color-shadow); }
.book-img-wrapper { display:flex; align-items:center; justify-content:center; height:380px; border-radius:4px; overflow:hidden; }
.book-img { width:100%; height:100%; cursor:not-allowed; transition:all 0.3s ease-in-out; }
.book:hover .book-img { transform:scale(1.07); transition:all 0.3s ease-in-out; }
.book-title { font-weight:bold; font-size:1rem; }
.book-title:hover { text-decoration:underline; cursor:not-allowed; }
.book-rating { display:flex; gap:2px; color:var(--color-secondary-1); font-size:0.875rem; }
.book-prices { display:flex; gap:8px; }
.book-price.original { color:var(--color-gray); text-decoration:line-through; }
.books-wrapper { padding:0; }
.books-header { padding:0 24px; display:flex; justify-content:space-between; align-items:center; }
.books .section-title { margin:0; text-align:left; font-weight:bold; }
.books-filter { width:280px; max-width:50%; display:flex; align-items:center; justify-content:flex-end; gap:16px; font-size:0.875rem; font-weight:bold; }
.books .books-grid { margin:16px 0 32px; justify-content:flex-start; align-items:flex-start; }
.books-loading { padding-top:3.75rem; width:100%; height:calc(100vh - 80px - 56px); display:flex; align-items:center; justify-content:center !important; font-size:3.75rem; color:var(--color-primary-2); }
.books-load-spinner { display:none !important; }
.books-loading .books-load-spinner { display:block !important; }

/**** FOOTER ****/
.footer { background:var(--color-primary-3); color:var(--color-white); }
.footer .col { gap:32px; }
.footer-logo { display:inline-block; margin-bottom:16px; display:flex; justify-content:center; }
.footer-logo-img { width:160px; filter:grayscale(1) invert(1); }
.footer-links { display:flex; align-items:center; justify-content:center; gap:64px; }
.footer-link { color:var(--color-white); }
.footer-copyright { text-align:center; }

/**** ANIMATIONS ****/
.fa-spinner { animation:rotate 600ms infinite linear; }
@keyframes rotate {
  0% { transform:rotate(0); }
  100% { transform:rotate(360deg); }
}

/**** SCREEN SIZES ****/

/** tablet size **/
@media (max-width: 768px) {
	.header h1 { font-size:calc(48px / 1.25); }
	.header h2 { font-size:calc(32px / 1.25); }
	.header h1, .header h2 { padding:0 24px; }
	.book-wrapper { flex-basis:50%; max-width:50%; }
	.nav-links { display:none; }
	.menu-btn { display:flex; }
}

/** smartphone size **/
@media (max-width: 600px) {
	.header-description { padding:8px 0 32px; }
	.highlight-wrapper { flex-wrap:wrap; gap:40px; }
	.highlight { flex-basis:100%; max-width:100%; }
	.book-wrapper { flex-basis:100%; max-width:100%; }
	.footer-links { gap:24px; }
}