@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
	--color-primary-1:#667eea;
	--color-primary-2:#4c51bf;
	--color-primary-3:#742cff;
	--color-primary:#6415ff;
	--color-primary-5:#5011cc;
	--color-primary-6:#3c0d99;
	--color-head-text:#1a202c;
	--color-body-text:#243e63;
	--color-white:#ffffff;
	--color-gray-0:#edf2f7;
	--color-gray-1:#e2e8f0;
	--color-gray-2:#cbd5e0;
	--color-gray-3:#a0aec0;
	--color-gray-4:#7c8ba1;
	--color-gray-5:#718096;
	--color-gray-6:#4a5568;
	--color-gray-7:#2d3748;
	--color-black:#000000;
}

* { padding:0; margin:0; outline:0; border:0; box-sizing:border-box; }
html { scroll-behavior:smooth; }
body { font-size:16px; font-family:'Inter', sans-serif; color:var(--color-body-text); }
h1 { font-size:1.875rem; line-height:1.25; }
h2 {  }
p {  }
a { text-decoration:none; color:var(--color-body-text); transition:all 0.3s ease; }
a:hover { color:var(--color-primary); }
:hover { transition:all 0.3s ease; }
input { font-family:'Inter', sans-serif; }
button { font-family:'Inter', sans-serif; font-size:16px; font-weight:700; cursor:pointer; transition:all 0.3s ease; }

/** standards **/
.container { padding:2rem; }
.row { display:flex; width:100%; }
.col { display:flex; flex-direction:column; }
.main { overflow:hidden; }
.section-box { margin:0 auto; padding:6rem 0; max-width:1280px; display:flex; align-items:center; }
.section-box .intro { display:flex; flex-direction:column; align-items:center; }
.section-box .intro.left { align-items:flex-start; width:45%; margin-right:64px; padding:2rem 0; }
.section-box .intro.right { align-items:flex-start; width:45%; margin-left:64px; padding:2rem 0; }
.section-box .subheading { margin-bottom:1.5rem; color:var(--color-primary); text-transform:uppercase; letter-spacing:0.1em; font-weight:700; font-size:16px; }
.section-box .heading { font-size:48px; font-weight:900; letter-spacing:0.025em; }
.section-box .desc { margin-top:1.5rem; max-width:36rem; color:var(--color-gray-4); line-height:1.625; font-weight:500; font-size:18px; }
.section-box .splash { width:50%; }
.section-box .splash img { max-width:100%; }
.section-box button { margin-top:48px; padding:12px 32px; font-size:14px; }
.btn-primary { padding:0.75rem 2rem; border-radius:9999px; background:var(--color-primary); color:var(--color-white); }
.btn-primary:hover { background:var(--color-primary-5); color:var(--color-gray-1); }
.emphasis { color:var(--color-primary); }

/** carousel **/
.carousel { margin:auto; position:relative; overflow:hidden; }
.carousel-wrapper { display:flex; scroll-snap-type:x mandatory; scroll-behavior:smooth; transition:transform 0.3s ease; }
.carousel-wrapper::-webkit-scrollbar { width:0; background:transparent; }
.carousel-pagination { position:absolute; right:0; bottom:16px; display:flex; }
.carousel-pagination div { margin:12px 4px; width:1px; background:var(--color-gray-1); }
.carousel-pagination button { margin:0 8px !important; padding:0 !important; width:48px; height:48px; display:flex; align-items:center; justify-content:center; background:var(--color-gray-0); color:var(--color-primary); border-radius:50%; }
.carousel-pagination button:hover { background:var(--color-gray-1); }

/** header **/
.header { margin:0 auto; max-width:1280px; }
.header-nav { display:flex; align-items:center; justify-content:space-between; }
.header-logo { display:flex; align-items:center; gap:0.75rem; }
.header-logo img { width:40px; height:40px; }
.header-logo a { font-size:24px; font-weight:900; letter-spacing:0.025em; }
.header-links { display:flex; align-items:center; gap:4.5rem; }
.header-links-pages { display:flex; gap:3rem; }
.header-links a { display:inline-block; padding:0.25rem 0; font-size:14px; font-weight:600; border-top:2px solid transparent; border-bottom:2px solid transparent; }
.header-links a:hover { border-bottom-color:var(--color-primary); }
.header-authenticate { display:flex; align-items:center; gap:1.5rem; }
.header-authenticate a.btn-primary { margin:0; padding:0.75rem 2rem; border-radius:999px; border:none; }

/** captive **/
.captive { align-items:center; max-width:1280px; }
.captive-intro { width:41.6667%; }
.captive-intro h1 { color:var(--color-head-text); letter-spacing:0.025em; }
.captive-intro p { margin:2rem 0; font-size:18px; color:var(--color-body-text); line-height:1.5; }
.captive-email { position:relative; width:28rem; }
.captive-email input { width:100%; padding:1.25rem 0 1.25rem 2rem; border-radius:9999px;  background:var(--color-white); border:2px solid var(--color-gray-1); color:var(--color-body-text); font-size:16px; font-weight:600; transition:all 0.3s ease; }
.captive-email ::placeholder { color:var(--color-gray-3); font-weight:600; opacity:0.5; }
.captive-email input:hover { border-color:var(--color-gray-3); }
.captive-email input:focus { border-color:var(--color-primary);  }
.captive-email button { position:absolute; top:0; right:0; bottom:0; margin:0.5rem 0.5rem 0.5rem; width:10rem; line-height:1; }
.captive-email button:hover { background:var(--color-primary-6); }
.captive-trust { margin-top:5rem; display:flex; flex-direction:column; gap:16px; }
.captive-trust-span { color:var(--color-gray-3); text-transform:uppercase; font-weight:600; font-size:12px; }
.captive-trust-cust { padding-right:8rem; width:100%; opacity:0.5; }
.captive-splash { display:flex; justify-content:center; flex:1 1 0%; width:100%; max-width:48rem; }
.captive-splash img { width:100%; }

/**** main ****/
/** features **/
.features { margin:0 auto; flex-direction:column; width:1024px; }
.features-grid { margin:48px auto 24px; display:flex; flex-wrap:wrap; }
.feature { padding:32px 24px; width:calc(100% / 3); display:flex; }
.feature-icon { width:64px; height:64px; padding:20px; display:flex; align-items:center; justify-content:center; border-radius:50%; border:1px solid var(--color-gray-1); }
.feature-icon img { width:1.5rem; height:1.5rem; }
.feature-info { margin:8px 0 0 16px; display:flex; flex-direction:column; text-align:left; }
.feature-title { margin-bottom:16px; font-size:24px; font-weight:700; }
.feature-desc { color:var(--color-gray-4); font-weight:500; line-height:2; }
/** quality **/
.quality { }
.quality .splash { border:1px solid var(--color-gray-1); }
/** steps **/
.steps { align-items:center; }
.steps-guide { display:flex; flex-direction:column; margin-left:64px; padding:2rem 0; }
.steps-list { margin-top:48px; display:flex; flex-direction:column; gap:32px; }
.step { display:flex; gap:24px; }
.step-num { min-width:48px; color:var(--color-gray-2); font-size:36px; font-weight:600; }
.step-info { display:flex; flex-direction:column; max-width:320px; }
.step-title { margin-bottom:8px; font-size:20px; font-weight:600; }
.step-desc { color:var(--color-gray-4); font-size:14px; font-weight:500; line-height:2; }
/** values **/
.values { }
.values-list { display:flex; }
.value { margin:32px 32px 0 0; display:flex; flex-direction:column; gap:16px; }
.value-text { display:flex; align-items:center; gap:16px; }
.value-span { font-weight:700; font-size:20px; }
.value-icon { padding:8px; width:36px; height:36px; display:flex; align-items:center; justify-content:center; border-radius:50%; }
.value-icon.green { background:#9ae6b4; color:#276749; }
.value-icon.red { background:#feb2b2; color:#9b2c2c; }
.value-desc { color:var(--color-gray-5); line-height:1.625; }
/** pricing **/
.pricing { margin:0 auto; flex-direction:column; }
.pricing-chart { margin-top:64px; display:flex; align-items:stretch; justify-content:center; gap:48px; }
.price { position:relative; display:flex; flex-direction:column; align-items:center; padding:0 32px; width:100%; max-width:24rem; border-radius:8px; box-shadow:0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.05); }
.price-highlight { position:absolute; top:0; left:0; width:100%; height:8px; border-top-left-radius:8px; border-top-right-radius:8px; }
.pricing .personal { background:linear-gradient(115deg,#38b2ac 0%,#81e6d9 100%); }
.pricing .business { background:linear-gradient(135deg,var(--color-primary-2) 0%,var(--color-primary-1) 100%); }
.pricing .enterprise { background:linear-gradient(115deg,#f56565 0%,#feb2b2 100%); }
.price-section { padding:32px 0; display:flex; flex-direction:column; gap:24px; width:100%; text-align:center; border-bottom:2px solid var(--color-gray-1); color:var(--color-gray-5); }
.price-section:last-child { border:none; padding-right:96px; padding-left:96px; }
.price-section button { margin:0; padding:16px; text-transform:uppercase; font-size:14px; letter-spacing:0.05em; }
.price-section:hover button { transform:translate(1px,-1px); box-shadow:0 20px 25px -5px rgba(0,0,0,0.1), 0 10px 10px -5px rgba(0,0,0,0.05); }
.price-head { padding-top:40px; font-size:20px; font-weight:700; text-transform:uppercase; color:var(--color-black); }
.price-title { color:var(--color-black); font-size:20px; font-weight:700; }
.price-value { font-size:48px; }
.price-duration { font-size:16px; letter-spacing:0.1em; color:var(--color-gray-5); }
.business .price-section { border-color:var(--color-primary-1); color:var(--color-white); }
.business .price-duration, .business .price-title { color:var(--color-white); }
.business button, .business button:hover { background:var(--color-white); color:var(--color-primary); }
/** testimonials **/
.testimonials {  }
.review { scroll-snap-align:start; flex:0 0 100%; margin-top:40px; display:flex; flex-direction:column; gap:16px; user-select:none; }
.review-rating { display:flex; gap:4px; color:#f6ad55; }
.review-title { margin-top:8px; font-weight:700; font-size:20px; }
.review-text { color:var(--color-gray-6); min-height:132px; line-height:1.625; font-weight:500; }
.review-controls { margin-top:24px; display:flex; justify-content:space-between; align-items:center; }
.review-user { display:flex; align-items:center; gap:24px; }
.review-user-icon { width:80px; height:80px; border-radius:50%; overflow:hidden; }
.review-user-icon img { width:100%; height:100%; }
.review-user-info { display:flex; flex-direction:column; gap:8px; color:var(--color-gray-4); font-weight:500; }
.review-user-info b { font-weight:700; font-size:20px; color:var(--color-body-text); }
/** faq **/
.faq { flex-direction:column; }
.accordion-list { margin-top:48px; width:75%; display:flex; flex-direction:column; gap:24px; }
.accordion { padding:16px 40px; border-radius:8px; background:var(--color-gray-0); color:var(--color-gray-7); cursor:pointer; }
.accordion:hover { background:var(--color-gray-1); }
.accordion-header { display:flex; justify-content:space-between; font-weight:600; font-size:20px; }
.accordion-chevron { font-size:16px; transition:transform 0.3s ease; }
.accordion-text { line-height:1.625; height:0; visibility:hidden; opacity:0; transition:all 0.3s ease; }
.accordion.active .accordion-text { margin-top:16px; height:auto; visibility:visible; opacity:1; transition:all 0.3s ease; }
.accordion.active .accordion-chevron { transform:rotate(-180deg); transition:transform 0.3s ease; }
/** cta decorator **/
.cta { margin:6rem auto 12rem; border-radius:8px; background:var(--color-primary); color:var(--color-white); }
.cta-wrapper { padding:0 128px; display:flex; justify-content:space-between; align-items:center; }
.cta-tagline { width:50%; font-size:32px; font-weight:700; }
.cta-buttons { display:flex; gap:40px; }
.cta-buttons button { margin:0; padding:20px 40px; border-radius:9999px; border:1px solid transparent; color:var(--color-white); font-size:16px; }
.cta-buttons button:hover { box-shadow:0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0,0,0,0.05); }
.cta-buttons .cta-red { background:#f56565; }
.cta-red:hover { background:#e53e3e; }
.cta-buttons .cta-border { background:none; border-color:var(--color-gray-3); }
.cta-border:hover { border-color:transparent; background:var(--color-white); color:var(--color-primary); }

/** footer **/
.footer { margin:0 -2rem -2rem -2rem; background:var(--color-primary); color:var(--color-white); }
.footer-wrapper { margin:0 auto; padding:96px 0; max-width:1280px; display:flex; flex-direction:column; }
.sitemap { display:flex; justify-content:space-between; }
.sitemap-col { display:flex; flex-direction:column; gap:24px; }
.sitemap-heading { text-transform:uppercase; font-weight:700; }
.sitemap-list { list-style:none; }
.sitemap-list li { margin:4px 0; }
.sitemap-list a { display:inline-block; padding:4px 0; color:var(--color-white); border-bottom:2px solid transparent; font-size:14px; font-weight:500; }
.sitemap-list a:hover { border-color:var(--color-white); }
.footer .divider { margin:60px 0; width:100%; height:2px; background:var(--color-primary-3); }
.footer-info { display:flex; justify-content:space-between; align-items:center; }
.footer-logo { display:flex; align-items:center; gap:0.75rem; }
.footer-logo img { width:32px; height:32px; }
.footer-logo a { font-size:20px; font-weight:900; letter-spacing:0.025em; color:var(--color-white); }
.footer-copyright { color:var(--color-gray-2); font-weight:500; text-align:center; }
.footer-social { display:flex; gap:16px; }
.social { width:32px; height:32px; border-radius:50%; display:flex; align-items:center; justify-content:center; background:var(--color-white); }
.social:hover { background:var(--color-gray-2); }
.social i { font-size:14px; color:var(--color-black); cursor:pointer; }

/** animations **/
.reveal { opacity:0; }
.slide-left { animation-name:slideLeft; animation-duration:0.5s; animation-delay:calc(var(--order) * 0.015s); animation-fill-mode:both; animation-timing-function:ease-in-out; opacity:1; }
.slide-right { animation-name:slideRight; animation-duration:0.5s; animation-delay:calc(var(--order) * 0.015s); animation-fill-mode:both; animation-timing-function:ease-in-out; opacity:1; }
@keyframes slideLeft {
  0% { transform:translateX(-100%); opacity:0; }
  100% { transform:translateX(0); opacity:1; }
}
@keyframes slideRight {
  0% { transform:translateX(100%); opacity:0; }
  100% { transform:translateX(0); opacity:1; }
}

@media (min-width:1280px) {
	h1 { font-size:3rem; }
	.captive-intro p { margin:2rem 0; }
}
@media (max-width:768px) {
	h1 { font-size:1.875rem; }
}
@media (max-width:600px) {
	.header { flex-direction:column; }
	.header-splash, .header-intro { flex-basis:100%; max-width:100%; }
	.captive-email input { padding:16px 0 16px 2rem; }
}